{% load thumbnail %}
{% load sodaseo_tags %}
{% load qurl %}

<!-- Base -->

{% if sodaseo.title %}
<title>{% sodaseo_render_value sodaseo.title %}</title>
{% endif %}

{% if sodaseo.description %}
<meta name="description" content="{% sodaseo_render_value sodaseo.description %}">
{% endif %}

{% if sodaseo.keywords %}
<meta name="keywords" content="{% sodaseo_render_value sodaseo.keywords %}">
{% endif %}

{% if sodaseo.author %}
<meta name="author" content="{% sodaseo_render_value sodaseo.author %}">
{% endif %}

{% if request %}
<link rel="canonical" href="{{ request.build_absolute_uri }}" />
{% endif %}

{% if request and is_paginated %}
	{% if page_obj.has_previous %}
	<link rel="prev" href="{{ request.build_absolute_uri }}{% qurl request.get_full_path page=page_obj.previous_page_number %}" />
	{% endif %}

	{% if page_obj.has_next %}
	<link rel="next" href="{{ request.build_absolute_uri }}{% qurl request.get_full_path page=page_obj.next_page_number %}" />
	{% endif %}
{% endif %}

<!-- Facebook/Google -->

{% if sodaseo.google_site_verification %}
<meta name="google-site-verification" content="{{ sodaseo.google_site_verification }}">
{% endif %}

{% if sodaseo.fb_appid %}
<meta property="fb:app_id" content="{{ sodaseo.fb_appid }}" />
{% endif %}

{% if sodaseo.fb_profile_id %}
<meta property="fb:profile_id" content="{{ sodaseo.fb_profile_id }}" />
{% endif %}

<!-- OpenGraph -->

{% if sodaseo.og_site_name %}
<meta property="og:site_name" content="{% sodaseo_render_value sodaseo.og_site_name %}" />
{% endif %}

{% if sodaseo.title %}
<meta property="og:title" content="{% sodaseo_render_value sodaseo.title %}" />
{% endif %}

{% if sodaseo.og_type %}
<meta property="og:type" content="{% sodaseo_render_value sodaseo.og_type %}" />
{% endif %}

{% if sodaseo.image %}
<meta property="og:image" content="{% thumbnail sodaseo.image 1200x630 upscale crop="smart" %}" />
{% endif %}

{% comment %}
{% if sodaseo.og_video %}
<meta property="og:video" content="{{ sodaseo.og_video }}" />
{% endif %}

{% if sodaseo.og_audio %}
<meta property="og:audio" content="{{ sodaseo.og_audio }}" />
{% endif %}
{% endcomment %}

{% if sodaseo.og_url %}
<meta property="og:url" content="{% sodaseo_render_value sodaseo.og_url %}" />
{% elif request %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endif %}

{% if sodaseo.description %}
<meta property="og:description" content="{% sodaseo_render_value sodaseo.description %}" />
{% endif %}

{% if sodaseo.og_see_also %}
{% sodaseo_render_og_see_also sodaseo.og_see_also %}
{% endif %}

{% if sodaseo.article_published_time %}
<meta property="article:published_time" content="{% sodaseo_render_value sodaseo.article_published_time %}" />
{% endif %}

{% if sodaseo.article_modified_time %}
<meta property="article:modified_time" content="{% sodaseo_render_value sodaseo.article_modified_time %}" />
{% endif %}

{% if sodaseo.article_section %}
<meta property="article:section" content="{% sodaseo_render_value sodaseo.article_section %}" />
{% endif %}

{% if sodaseo.article_tag %}
<meta property="article:tag" content="{% sodaseo_render_value sodaseo.article_tag %}" />
{% endif %}

<meta property="og:locale" content="pt_BR" />

<!-- Google Plus -->
{% if sodaseo.title %}
<meta itemprop="name" content="{% sodaseo_render_value sodaseo.title %}">
{% endif %}

{% if sodaseo.description %}
<meta itemprop="description" content="{% sodaseo_render_value sodaseo.description %}">
{% endif %}

{% if sodaseo.image %}
<meta itemprop="image" content="{% thumbnail sodaseo.image 497x279 upscale crop="smart" %}">
{% endif %}

<!-- Twitter Card -->

<meta name="twitter:card" content="summary_large_image">

{% if sodaseo.twitter_site %}
<meta name="twitter:site" content="{% sodaseo_render_value sodaseo.twitter_site %}">
{% endif %}

{% if sodaseo.title %}
<meta name="twitter:title" content="{% sodaseo_render_value sodaseo.title %}">
{% endif %}

{% if sodaseo.description %}
<meta name="twitter:description" content="{% sodaseo_render_value sodaseo.description %}">
{% endif %}

{% if sodaseo.twitter_creator %}
<meta name="twitter:creator" content="{% sodaseo_render_value sodaseo.twitter_creator %}">
{% endif %}

{% if sodaseo.image %}
<meta name="twitter:image:src" content="{% thumbnail sodaseo.image 440x220 upscale crop="smart" %}">
{% endif %}

{% if request %}
<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
{% endif %}

<meta name="web_author" content="SODA Virtual, sodavirtual.com.br, contato@sodavirtual.com.br" />
