{% load thumbnail %}
{% load sodaseo_tags %}

<!-- Base -->

{% if sodaseo.title %}
<title>{% sodaseo_render_value sodaseo.title %}</title>
{% endif %}

{% if sodaseo.description %}
<meta name="description" content="{% sodaseo_render_value sodaseo.description %}">
{% endif %}

{% if sodaseo.keywords %}
<meta name="keywords" content="{% sodaseo_render_value sodaseo.keywords %}">
{% endif %}

{% if sodaseo.author %}
<meta name="author" content="{% sodaseo_render_value sodaseo.author %}">
{% endif %}

<!-- Facebook/Google -->

{% if sodaseo.google_site_verification %}
<meta name="google-site-verification" content="{{ sodaseo.google_site_verification }}">
{% endif %}

{% if sodaseo.fb_appid %}
<meta property="fb:app_id" content="{{ sodaseo.fb_appid }}" />
{% endif %}

<!-- OpenGraph -->

{% if sodaseo.og_site_name %}
<meta property="og:site_name" content="{% sodaseo_render_value sodaseo.og_site_name %}" />
{% endif %}

{% if sodaseo.og_title %}
<meta property="og:title" content="{% sodaseo_render_value sodaseo.og_title %}" />
{% endif %}

{% if sodaseo.og_type %}
<meta property="og:type" content="{% sodaseo_render_value sodaseo.og_type %}" />
{% endif %}

{% if sodaseo.og_image %}
<meta property="og:image" content="http://{{ request.get_host }}{% thumbnail sodaseo.og_image 1200x630 upscale crop="smart" %}" />
{% endif %}

{% if sodaseo.og_url %}
<meta property="og:url" content="{% sodaseo_render_value sodaseo.og_url %}" />
{% else %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
{% endif %}

{% if sodaseo.og_description %}
<meta property="og:description" content="{% sodaseo_render_value sodaseo.og_description %}" />
{% endif %}

{% if sodaseo.article_published_time %}
<meta property="article:published_time" content="{% sodaseo_render_value sodaseo.article_published_time %}" />
{% endif %}

{% if sodaseo.article_modified_time %}
<meta property="article:modified_time" content="{% sodaseo_render_value sodaseo.article_modified_time %}" />
{% endif %}

{% if sodaseo.article_section %}
<meta property="article:section" content="{% sodaseo_render_value sodaseo.article_section %}" />
{% endif %}

{% if sodaseo.article_tag %}
<meta property="article:tag" content="{% sodaseo_render_value sodaseo.article_tag %}" />
{% endif %}

<meta property="og:locale" content="pt_BR" />

<!-- Google Plus -->
{% if sodaseo.itemprop_name %}
<meta itemprop="name" content="{% sodaseo_render_value sodaseo.itemprop_name %}">
{% endif %}

{% if sodaseo.itemprop_description %}
<meta itemprop="description" content="{% sodaseo_render_value sodaseo.itemprop_description %}">
{% endif %}

{% if sodaseo.itemprop_image %}
<meta itemprop="image" content="http://{{ request.get_host }}{% thumbnail sodaseo.itemprop_image 1200x630 upscale crop="smart" %}">
{% endif %}

<!-- Twitter Card -->

<meta name="twitter:card" content="summary_large_image">

{% if sodaseo.twitter_site %}
<meta name="twitter:site" content="{% sodaseo_render_value sodaseo.twitter_site %}">
{% endif %}

{% if sodaseo.twitter_title %}
<meta name="twitter:title" content="{% sodaseo_render_value sodaseo.twitter_title %}">
{% endif %}

{% if sodaseo.twitter_description %}
<meta name="twitter:description" content="{% sodaseo_render_value sodaseo.twitter_description %}">
{% endif %}

{% if sodaseo.twitter_creator %}
<meta name="twitter:creator" content="{% sodaseo_render_value sodaseo.twitter_creator %}">
{% endif %}

{% if sodaseo.twitter_image %}
<meta name="twitter:image:src" content="http://{{ request.get_host }}{% thumbnail sodaseo.twitter_image 1200x630 upscale crop="smart" %}">
{% endif %}

<meta name="twitter:url" content="{{ request.build_absolute_uri }}" />
